// Color input styles
// ----------------------------------------------

/* SG
# Forms/Option input

```
<div class="CDB-OptionInput is-active CDB-Text">
  <ul class="CDB-OptionInput-container">
    <li class="CDB-OptionInput-item is-active">
      <button type="button" class="CDB-OptionInput-content">8px</button>
    </li>

    <li class="CDB-OptionInput-item">
      <button type="button" class="CDB-OptionInput-content">solid</button>
    </li>

    <li class="CDB-OptionInput-item">
      <button type="button" class="CDB-ColorBarContainer CDB-OptionInput-content">
        <span class="CDB-ColorBar" style="background-color: #207EBA;"></span>
      </button>
    </li>
  </ul>
</div>

<br/>

<div class="CDB-OptionInput is-active CDB-Text">
  <ul class="CDB-OptionInput-container">
    <li class="CDB-OptionInput-item">
      <button type="button" class="CDB-OptionInput-content">8...12</button>
    </li>

    <li class="CDB-OptionInput-item is-active">
      <button type="button" class="CDB-ColorBarContainer CDB-OptionInput-content">
        <span class="CDB-ColorBar" style="background-color: #FFFFC0;"></span>
      </button>
    </li>
  </ul>
</div>

<br/>

<div class="CDB-OptionInput is-active CDB-Text">
  <ul class="CDB-OptionInput-container">
    <li class="CDB-OptionInput-item">
      <button type="button" class="CDB-OptionInput-content">8...12</button>
    </li>
    <li class="CDB-OptionInput-item">
      <button type="button" class="CDB-OptionInput-content">solid</button>
    </li>

    <li class="CDB-OptionInput-item is-active">
      <button type="button" class="CDB-ColorBarContainer CDB-OptionInput-content">
        <span class="CDB-ColorBar" style="background-color: #FFFFC0;"></span>
      </button>
    </li>
  </ul>
</div>

<br/>

<button type="button" class="CDB-OptionInput">
  <div class="CDB-OptionInput-container">
    <span class="CDB-ColorBar CDB-ColorBar-gradient" style="background: linear-gradient(90deg, #FFFECA, #9FDAB3, #36B6C5, #207EBA, #203196);"></span>
  </div>
</button>

<br/>
<br/>

<button type="button" class="CDB-OptionInput">
  <div class="CDB-OptionInput-container">
    <ul class="CDB-ColorBarContainer">
      <li class="CDB-ColorBar CDB-ColorBar--spaceSmall" style="background-color: #9DE0AD;"></li>
      <li class="CDB-ColorBar CDB-ColorBar--spaceSmall" style="background-color: #50E3C2;"></li>
      <li class="CDB-ColorBar CDB-ColorBar--spaceSmall" style="background-color: #FFFFC0;"></li>
      <li class="CDB-ColorBar CDB-ColorBar--spaceSmall" style="background-color: #7ED321;"></li>
      <li class="CDB-ColorBar CDB-ColorBar--spaceSmall" style="background-color: #BD10E0;"></li>
      <li class="CDB-ColorBar CDB-ColorBar--spaceSmall" style="background-color: #F15743;"></li>
    </ul>
  </div>
</button>

<br/>
<br/>

<button type="button" class="CDB-OptionInput">
  <div class="CDB-OptionInput-container">
    <ul class="CDB-ColorBarContainer">
      <li class="CDB-ColorBar CDB-ColorBar--spaceless" style="background-color: #9DE0AD;"></li>
      <li class="CDB-ColorBar CDB-ColorBar--spaceless" style="background-color: #50E3C2;"></li>
      <li class="CDB-ColorBar CDB-ColorBar--spaceless" style="background-color: #FFFFC0;"></li>
      <li class="CDB-ColorBar CDB-ColorBar--spaceless" style="background-color: #7ED321;"></li>
    </ul>
  </div>
</button>
```
*/

.CDB-OptionInput {
  box-sizing: border-box;
  width: 100%;
  height: $baseSize * 4 - 2px;
  border-radius: $baseSize / 2;
  vertical-align: middle;
}

.CDB-OptionInput-container {
  display: flex;
  align-content: center;
  align-items: center;

  &--noMargin {
    margin: 0;
  }
}

.CDB-OptionInput-item {
  display: flex;
  position: relative;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: $sFontSize-medium;

  &.is-active,
  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:first-child {
    width: auto;
    margin-right: $baseSize;
  }

  &:last-child {
    width: 100%;
  }
}

.CDB-OptionInput-container--border .CDB-OptionInput-item {
  padding: 0 $baseSize;
  border: 1px solid $cMainLine;

  &.is-active,
  &:hover,
  &:focus {
    border: 1px solid $cBlue;
  }

  &:first-child {
    margin-right: 0;
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 4px;
  }

  + .CDB-OptionInput-item {
    border-left: none;
    border-radius: 0 4px 4px 0;

    &:hover::after {
      content: '';
      position: absolute;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: $cBlue;
    }
  }
}

.CDB-OptionInput-content {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $cMainBg;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}
.CDB-OptionInput-item:first-child .CDB-OptionInput-content {
  border-bottom-left-radius: 4px;
}
.CDB-OptionInput-item.is-active > .CDB-OptionInput-content {
  border-bottom: 1px solid $cMainBg;
}
