// Color input styles
// ----------------------------------------------

/* SG
# Forms/Color bar

```
<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar CDB-ColorBar--med u-rSpace" style="background-color: #9DE0AD;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med u-rSpace" style="background-color: #50E3C2;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med u-rSpace" style="background-color: #FFFFC0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med u-rSpace" style="background-color: #7ED321;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med u-rSpace" style="background-color: #BD10E0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med u-rSpace" style="background-color: #F15743;"></span>
</div>

<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #9DE0AD;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #50E3C2;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #FFFFC0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #7ED321;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #BD10E0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #F15743;"></span>
</div>

<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--compacted" style="background-color: #9DE0AD;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--compacted" style="background-color: #50E3C2;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--compacted" style="background-color: #FFFFC0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--compacted" style="background-color: #7ED321;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--compacted" style="background-color: #BD10E0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--med CDB-ColorBar--compacted" style="background-color: #F15743;"></span>
</div>

<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar CDB-ColorBar--small u-rSpace" style="background-color: #9DE0AD;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--small u-rSpace" style="background-color: #50E3C2;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--small u-rSpace" style="background-color: #FFFFC0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--small u-rSpace" style="background-color: #7ED321;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--small u-rSpace" style="background-color: #BD10E0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--small u-rSpace" style="background-color: #F15743;"></span>
</div>

<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar CDB-ColorBar--long" style="background: linear-gradient(90deg, #FFFECA, #9FDAB3, #36B6C5, #207EBA, #203196);"></span>
</div>

<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar CDB-ColorBar--med" style="background-color: #9DE0AD;"></span>
</div>
 ```
*/

@import '../../cdb-variables/sizes';
@import '../../cdb-variables/colors';
@import '../../cdb-utilities/mixins';

.CDB-ColorBarContainer {
  @include display-flex();
  @include flex-direction(row);
}
.CDB-ColorBar {
  width: 100%;
  height: $baseSize / 2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  &:last-child {
    margin-right: 0;
  }
}
.CDB-ColorBar.CDB-ColorBar--small {
  width: $baseSize * 2;
}
.CDB-ColorBar.CDB-ColorBar--med {
  width: 29px;
}
.CDB-ColorBar.CDB-ColorBar--long {
  width: $baseSize * 12;
}
.CDB-ColorBar.CDB-ColorBar--compacted {
  border-right: 0;
  border-left: 0;
  border-radius: 0;

  &:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 0 0 6px;
  }
  &:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 6px 6px 0;
  }
}
.CDB-ColorBar.CDB-ColorBar--uBorder {
  border-radius: 2px;

  &:first-child {
    border-radius: 6px 2px 2px 6px;
  }
  &:last-child {
    border-radius: 2px 6px 6px 2px;
  }
}
