// Color input styles
// ----------------------------------------------

/* SG
# Forms/Color bar

```
<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar u-rSpace" style="background-color: #9DE0AD;"></span>
  <span class="CDB-ColorBar u-rSpace" style="background-color: #50E3C2;"></span>
  <span class="CDB-ColorBar u-rSpace" style="background-color: #FFFFC0;"></span>
  <span class="CDB-ColorBar u-rSpace" style="background-color: #7ED321;"></span>
  <span class="CDB-ColorBar u-rSpace" style="background-color: #BD10E0;"></span>
  <span class="CDB-ColorBar u-rSpace" style="background-color: #F15743;"></span>
</div>

<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #9DE0AD;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #50E3C2;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #FFFFC0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #7ED321;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #BD10E0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--uBorder u-rSpace--s" style="background-color: #F15743;"></span>
</div>

<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #9DE0AD;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #50E3C2;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #FFFFC0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #7ED321;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #BD10E0;"></span>
  <span class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #F15743;"></span>
</div>

<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar" style="background-color: #9DE0AD;"></span>
</div>

<div class="CDB-ColorBarContainer u-bSpace--xl">
  <span class="CDB-ColorBar" style="background: linear-gradient(90deg, #FFFECA, #9FDAB3, #36B6C5, #207EBA, #203196);"></span>
</div>
 ```
*/

@import '../../cdb-utilities/mixins';

.CDB-ColorBarContainer {
  @include display-flex();
  @include flex-direction(row);
  max-width: 215px;
}
.CDB-ColorBar {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 6px;

  &::after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  &:last-child {
    margin-right: 0;
  }
}
.CDB-ColorBar.CDB-ColorBar--compacted {
  border-radius: 0;

  &::after {
    border-width: 1px 0;
    border-radius: 0;
  }
  &:first-child {
    border-radius: 6px 0 0 6px;
    &::after {
      border-width: 1px 0 1px 1px;
      border-radius: 6px 0 0 6px;
    }
  }
  &:last-child {
    border-radius: 0 6px 6px 0;
    &::after {
      border-width: 1px 1px 1px 0;
      border-radius: 0 6px 6px 0;
    }
  }
}
.CDB-ColorBar.CDB-ColorBar--uBorder {
  border-radius: 2px;

  &::after {
    border-radius: 2px;
  }
  &:first-child {
    border-radius: 6px 2px 2px 6px;
    &::after {
      border-radius: 6px 2px 2px 6px;
    }
  }
  &:last-child {
    border-radius: 2px 6px 6px 2px;
    &:after {
      border-radius: 2px 6px 6px 2px;
    }
  }
}
