// Color input styles
// ----------------------------------------------

/* SG
# Forms/Option input

```
<div class="CDB-OptionInput is-active u-bSpace--xl CDB-Text">
  <ul class="CDB-OptionInput-container">
    <li class="CDB-OptionInput-option is-active">
      <span class="CDB-OptionInput-optionContent">8px</span>
    </li>

    <li class="CDB-OptionInput-option">
      <span class="CDB-OptionInput-optionContent">solid</span>
    </li>
    
    <li class="CDB-OptionInput-option">
      <ul class="CDB-ColorBarContainer CDB-OptionInput-optionContent">
        <li class="CDB-ColorBar" style="background-color: #207EBA;"></li>
      </ul>
    </li>
  </ul>
</div>

<div class="CDB-OptionInput u-bSpace--xl">
  <ul class="CDB-OptionInput-container">
    <li class="CDB-OptionInput-option">
      <ul class="CDB-ColorBarContainer">
        <li class="CDB-ColorBar" style="background: linear-gradient(90deg, #FFFECA, #9FDAB3, #36B6C5, #207EBA, #203196);"></li>
      </ul>
    </li>
  </ul>
</div>

<div class="CDB-OptionInput u-bSpace--xl">
  <ul class="CDB-OptionInput-container">
    <li class="CDB-OptionInput-option">
      <ul class="CDB-ColorBarContainer">
        <li class="CDB-ColorBar u-rSpace" style="background-color: #9DE0AD;"></li>
        <li class="CDB-ColorBar u-rSpace" style="background-color: #50E3C2;"></li>
        <li class="CDB-ColorBar u-rSpace" style="background-color: #FFFFC0;"></li>
        <li class="CDB-ColorBar u-rSpace" style="background-color: #7ED321;"></li>
        <li class="CDB-ColorBar u-rSpace" style="background-color: #BD10E0;"></li>
        <li class="CDB-ColorBar u-rSpace" style="background-color: #F15743;"></li>
      </ul>
    </li>
  </ul>
</div>

<div class="CDB-OptionInput u-bSpace--xl">
  <ul class="CDB-OptionInput-container">
    <li class="CDB-OptionInput-option">
      <ul class="CDB-ColorBarContainer">
        <li class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #9DE0AD;"></li>
        <li class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #50E3C2;"></li>
        <li class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #FFFFC0;"></li>
        <li class="CDB-ColorBar CDB-ColorBar--compacted" style="background-color: #7ED321;"></li>
      </ul>
    </li>
  </ul>
</div>
```
*/

@import '../../cdb-variables/sizes';
@import '../../cdb-variables/colors';
@import '../../cdb-utilities/mixins';

.CDB-OptionInput {
  @include display-flex();
  @include align-content(center);
  width: $baseSize * 20;
  height: $baseSize * 4;
  border: 1px solid $cMainLine;
  border-radius: $baseSize / 2;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    border: 1px solid $cHoverLine;
  }
  &:focus {
    border: 1px solid $cBlue;
  }
}
.CDB-OptionInput.is-active {
  border: 1px solid $cBlue;
}
.CDB-OptionInput-container {
  @include display-flex();
  @include align-items(center);
  @include align-content(center);
  margin: 0 $baseSize;
}
.CDB-OptionInput-option {
  @include display-flex();
  @include align-items(center);
  @include align-content(center);
  color: $cMainBg;
  font-size: $sFontSize-medium;
  box-sizing: content-box;

  &::after {
    padding: 9px;
    color: $cHintText;
    content: '·';
  }
  &:last-child {
    &::after {
      padding: 0;
      content: '';
    }
  }
}
.CDB-OptionInput-option.is-active > .CDB-OptionInput-optionContent {
  padding: 9px 0;
  border-bottom: 1px solid $cMainBg;
}
