
// Radios styles
// ----------------------------------------------

/* SG
# Forms/Radio

```
<div class="u-iBlock">
  <input class="CDB-Radio" type="radio" name="gender" value="01" checked>
  <span class="u-iBlock CDB-RadioFace"></span>
</div>
<div class="u-iBlock">
  <input class="CDB-Radio" type="radio" name="gender" value="02">
  <span class="u-iBlock CDB-RadioFace"></span>
</div>
<div class="u-iBlock">
  <input class="CDB-Radio" type="radio" name="gender" value="03" disabled>
  <span class="u-iBlock CDB-RadioFace"></span>
</div>
```
*/

@import '../../cdb-variables/sizes';
@import '../../cdb-variables/colors';

.CDB-Radio {
  width: $baseSize * 2;
  height: $baseSize * 2;
  opacity: 0;
  position: absolute;
  z-index: 1;

  ~ .CDB-RadioFace {
    position: relative;
    width: $baseSize * 2;
    height: $baseSize * 2;
    border: 1px solid $cMainLine;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    text-indent: 20px;
    background: $cWhite;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $baseSize - 2;
      height: $baseSize - 2;
      margin-top: -3px;
      margin-left: -3px;
      border-radius: 50%;
      background: $cSecondaryLine;
      content: '';
    }
  }

  &:checked {
    ~ .CDB-RadioFace {
      border: 1px solid $cBlue;
      background: $cBlue;

      &::before {
        background: $cWhite;
      }
    }

    &:hover ~ .CDB-RadioFace {
      border: 1px solid $cBlue;
    }
  }

  &:focus ~ .CDB-RadioFace {
    border: 1px solid $cBlue;
  }

  &:hover ~ .CDB-RadioFace {
    border: 1px solid $cHoverLine;
  }

  &:disabled {
    ~ .CDB-RadioFace {
      border: 1px solid $cSecondaryLine;
      background: $cThirdBackground;

      &::before {
        background: $cWhite;
      }
    }

    &:hover ~ .CDB-RadioFace {
      border: 1px solid $cSecondaryLine;
    }
  }
}
