// Colors variables
// ----------------------------------------------

// General
$cBlue: #3AA9E3;
$cBlack: #000;
$cWhite: #FFF;
$cMainBgColor: #2E3C43;

//Structure
$cSecondaryDark: #282C2F;
$cSecondaryBackground: #F2F6F9;
$cThirdBackground: #F9F9F9;

//Lines
$cHoverLine: #AAA;
$cMainLine: #DDD;
$cSecondaryLine: #EEE;

//Typography
$cMainTextColor: #2E3C43;
$cSecondaryTextColor: #636D72;
$cAltTextColor: #979EA1;
$cHintTextColor: #CBCED0;

//Others
$cHighlight: #9DE0AD;
$cAlert: #F19243;
$cPublic: #9BC63B;
$cLink: #FEB100;
$cPassword: #FB7B23;
$cError: #F15743;
$cHighlightYellow: #FFFFC0;
