// Menu styles
// ----------------------------------------------

/* SG
# Forms/Radio


```
  <input class="CDB-Radio" type="radio" name="Gender" value="01" checked>
  <input class="CDB-Radio" type="radio" name="Gender" value="01">
  <input class="CDB-Radio" type="radio" name="Gender" value="02" disabled>
``` 
*/

@import '../variables/sizes';
@import '../variables/colors';

.CDB-Radio {
  width: 16px;
  height: 16px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 50%;
  &:before {
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    background: #F9F9F9;
    display: block;
    border-radius: 50%;
  }
  &:checked {
    background: #3AA9E3;
    border: 1px solid #3AA9E3;
    &:before {
      background: #fff;
    }
  }
  &:focus {
    border: 1px solid #3AA9E3;
  }
  &:disabled {
    background: #F9F9F9;
    border: 1px solid #EEEEEE;
    &:before {
      background: #fff;
    }
  }
}

/* SG
# Forms/Checkbox

```
  <input type="checkbox" name="vehicle" value="Bike" class="CDB-Checkbox">
  <input type="checkbox" name="vehicle" value="Bus" class="CDB-Checkbox">
  <input type="checkbox" name="vehicle" value="Car" class="CDB-Checkbox" disabled>
``` 
*/

.CDB-Checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
  &:checked {
    background: #3AA9E3;
    border: 1px solid #3AA9E3;
  }
  &:focus {
    border: 1px solid #3AA9E3;
  }
}

/* SG
# Forms/Inputs

```
  <input type="text" name="text" placeholder="DejaVu Sans" class="CDB-Input Text">
  <input type="text" name="text" placeholder="DejaVu Sans" class="CDB-Input has-error Text">
  <input type="text" name="text" placeholder="DejaVu Sans" disabled class="CDB-Input is-disabled Text">
``` 
*/

.CDB-Input {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: $sFontSize-medium;
  line-height: $sLineHeight-medium;
  padding: 7px 8px 6px;

  &:hover {
    border: 1px solid #AAAAAA;
  }
  &:focus {
    border: 1px solid #3AA9E3;
  }
  &:disabled {
    background: #F9F9F9;
    border-color: #EEEEEE;
  }
  &.has-error {
    background: rgba($cError, .04);
    border: 1px solid rgba($cError, .48);
    color: $cError;
  }
  &::placeholder {
    color: green;
  }
}
