// Menu styles
// ----------------------------------------------

/* SG
# Boxes/Box Dropdown


```
  <div class="CDB-Box-Modal">&nbsp;</div>
``` 
*/

@import '../cdb-variables/sizes';
@import '../cdb-variables/colors';

.CDB-Box-Modal {
  border: 1px solid $cMainLine;
  border-radius: 4px;
  background: $cWhite;
  box-shadow: 0  $baseSize  $baseSize * 2 0 rgba(0, 0, 0, 0.16);
}
