// Carousel styles
// ----------------------------------------------

/* SG
# Carousel

```
<ul class="CDB-Steps">
  <li class="CDB-Step-item">
    <div class="CDB-Step-header u-bSpace--xl">
      <div class="CDB-Step-headerNumeration CDB-Text is-semibold u-rSpace--m">1</div>

      <div class="CDB-Step-headerInfo CDB-Text">
        <p class="CDB-Step-headerTitle CDB-Text CDB-Size-large u-bSpace--m">Aggregation</p>
        <p class="CDB-Size-small u-uppercase u-color-cTypo3">Histogram</p>
        <p class="CDB-Size-medium u-color-cTypo3">Distribution of a numeric variable in a range</p>
      </div>
    </div>

    <div class="CDB-Carousel">
      <ul class="CDB-Carousel-inner">
        <li class="CDB-Carousel-item"></li>
        <li class="CDB-Carousel-item"></li>
        <li class="CDB-Carousel-item"></li>
        <li class="CDB-Carousel-item"></li>
        <li class="CDB-Carousel-item"></li>
      </ul>
    </div>
  </li>
</ul>
```
*/

@import '../cdb-utilities/mixins';
@import '../cdb-variables/sizes';
@import '../cdb-variables/colors';

.CDB-Carousel {
  width: 300px;
  margin-left: 32px;
}

.CDB-Carousel-inner {
  width: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.CDB-Carousel-item {
  @include inline-block();
  width: $baseSize * 11;
  height: $baseSize * 7;
  border: 1px solid $cSecondaryLine;
  border-radius: 4px;
  background: $cThirdBackground;
  margin-right: 10px;
  vertical-align: top;

  &:hover {
    border: 1px solid $cMainLine;
    cursor: pointer;
  }
}
