// Carousel styles
// ----------------------------------------------

/* SG
# Carousel

```
<div>
  <ul class="CDB-Carousel">
    <li class="CDB-Carousel-item is-selected"></li>
    <li class="CDB-Carousel-item"></li>
    <li class="CDB-Carousel-item"></li>
    <li class="CDB-Carousel-item"></li>
    <li class="CDB-Carousel-item"></li>
  </ul>
</div>
```
*/

@import '../cdb-utilities/mixins';
@import '../cdb-variables/sizes';
@import '../cdb-variables/colors';

.CDB-Carousel {
  width: 100%;
  font-size: 0;
}
.CDB-Carousel-item {
  @include inline-block();
  width: $baseSize * 11;
  height: $baseSize * 7;
  border: 1px solid $cSecondaryLine;
  border-radius: 4px;
  background: $cThirdBackground;
  vertical-align: top;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:hover {
    border: 1px solid $cMainLine;
    cursor: pointer;
  }
}
.CDB-Carousel-item.is-selected {
  border: 2px solid $cBlue;
}

