// List styles
// ----------------------------------------------

/* SG
# Lists/Lists Decorations


```
  <div class="CDB-Box-Modal">&nbsp;</div>
```
*/

@import '../cdb-variables/sizes';
@import '../cdb-variables/colors';

.CDB-ListDecoration-Item {
  border-bottom: 1px solid $cSecondaryLine;

  &:last-child {
    border-bottom: 0;
  }
}

.CDB-ListDecoration-ItemLink {
  display: block;
  padding: 12px 16px;
}


/* SG
# Lists/Lists Widgets


```
  <ul class="CDB-BlockList">
    <li class="CDB-BlockList-item">
      <div class="CDB-BlockList-media u-rSpace--xl">
      </div>
      <div class="CDB-BlockList-Inner">
        <div class="CDB-BlockList-Title u-bSpace">
          <h2 class="CDB-BlockList-TitleText CDB-Text CDB-Size-large u-ellipsis">Stadiums Affected Stadiums Affected Stadiums AffectedStadiums Affected Stadiums Affected Stadiums Affected Stadiums Affected </h2>
          <div class="CDB-HeaderInfo-Actions">
            <button class="CDB-Shape">
              <div class="CDB-Shape-close is-blue is-large"></div>
            </button>
          </div>
        </div>
        <p class="CDB-Text CDB-Size-medium u-secondaryTextColor">NBA Fans, fans_num</p>
      </div>
    </li>
    <li class="CDB-BlockList-item">
      <div class="CDB-BlockList-media u-rSpace--xl">
      </div>
      <div class="CDB-BlockList-Inner">
        <div class="CDB-BlockList-Title u-bSpace">
          <h2 class="CDB-BlockList-TitleText CDB-Text CDB-Size-large u-ellipsis">Stadiums Affected Stadiums Affected Stadiums AffectedStadiums Affected Stadiums Affected Stadiums Affected Stadiums Affected </h2>
          <div class="CDB-HeaderInfo-Actions">
            <button class="CDB-Shape">
              <div class="CDB-Shape-close is-blue is-large"></div>
            </button>
          </div>
        </div>
        <p class="CDB-Text CDB-Size-medium u-secondaryTextColor">NBA Fans, fans_num</p>
      </div>
    </li>
  </ul>
```
*/

@import '../cdb-utilities/mixins';
@import '../cdb-variables/sizes';
@import '../cdb-variables/colors';


.CDB-BlockList-item {
  @include display-flex();
  margin-bottom: $baseSize;
  padding: $baseSize * 2;
  border: 1px solid $cSecondaryLine;
  border-radius: $baseSize / 2;

  &:last-child {
    margin-bottom: 0;
  }
}

.CDB-BlockList-inner {
  @include flex(1);
}

.CDB-BlockList-Title {
  @include display-flex();
  @include align-items(center);
}

.CDB-BlockList-TitleText {
  @include flex(1);
  width: 0;
  padding-right: $baseSize * 2;
}

.CDB-BlockList-media {
  width: 40px;
  height: 40px;
  border: 1px solid $cSecondaryLine;
  border-radius: $baseSize / 2;
  background: $cThirdBackground;
}

.CDB-BlockList-media--layer {
  @include display-flex();
  @include align-items(center); 
  border: 0;
}

/* SG
# Lists/Lists Layers


```
  <ul class="CDB-ListLayer">
    <li class="CDB-ListLayer-item">
      <div class="CDB-ListLayer-itemHeader">
        <div class="CDB-ListLayer-media u-rSpace--xl" style="background: #E27D61; color: #fff">
          <p class="CDB-Text CDB-Size-large is-semibold">A</p>
        </div>
        <div class="CDB-ListLayer-Inner">
          <div class="CDB-ListLayer-Title u-bSpace">
            <h2 class="CDB-ListLayer-TitleText CDB-Text CDB-Size-large u-ellipsis">ATM Machines</h2>
            <ul class="CDB-HeaderInfo-Actions">
              <li class="CDB-HeaderInfo-ActionsItem CDB-Shape">
                <div class="CDB-ArrowToogle is-blue is-small"></div>
              </li>
              <li class="CDB-HeaderInfo-ActionsItem CDB-Shape">
                <button class="CDB-Shape-threePoints is-blue is-small">
                  <div class="CDB-Shape-threePointsItem"></div>
                  <div class="CDB-Shape-threePointsItem"></div>
                  <div class="CDB-Shape-threePointsItem"></div>
                </button>
              </li>
            </ul>
          </div>
          <button class="CDB-Text CDB-Size-medium u-actionTextColor ">
            ADD ANALYSIS
          </button>
        </div>
      </div>
      <ul class="CDB-ListAnalysis">
        <li class="CDB-ListAnalysis-item is-analysis">
          <ul class="CDB-ListAnalysis-inner">
            <li class="CDB-ListAnalysis-innerItem CDB-ListAnalysis-layer">
              <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small">
                <div class="CDB-LoaderIcon">
                  <div class="CDB-LoaderIcon-item"></div>
                </div>
              </div>
              <p class="CDB-ListAnalysis-title CDB-Text CDB-Size-small u-secondaryTextColor u-ellipsis">Intersection</p>
            </li>
            <li class="CDB-ListAnalysis-innerItem CDB-ListAnalysis-layer">
              <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small" style="background: #F2CD8F; color: #fff">
                A
              </div>
              <p class="CDB-ListAnalysis-title CDB-Text CDB-Size-small u-secondaryTextColor u-ellipsis">Bus stops</p>
            </li>
        </li>
        <li class="CDB-ListAnalysis-item CDB-ListAnalysis-layer">
          <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small" style="background: #E27D61; color: #fff">
            B2
          </div>
          <p class="CDB-ListAnalysis-title CDB-Text CDB-Size-small u-secondaryTextColor u-ellipsis">Estimated Population</p>
        </li>
        <li class="CDB-ListAnalysis-item CDB-ListAnalysis-layer">
          <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small" style="background: #E27D61; color: #fff">
            B1
          </div>
          <p class="CDB-ListAnalysis-title CDB-Text CDB-Size-small u-secondaryTextColor u-ellipsis">Trade Area 15’ (walk)</p>
          <div class="CDB-ListAnalysis-error"></div>
        </li>
        <li class="CDB-ListAnalysis-item CDB-ListAnalysis-layer is-base">
          <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small u-altTextColor">
            B0
          </div>
          <p class="CDB-Text CDB-Size-small u-secondaryTextColor">atm_machines</p>
        </li>
      </ul>
    </li>
    <li class="CDB-ListLayer-item">
      <div class="CDB-ListLayer-itemHeader">
        <div class="CDB-ListLayer-media u-rSpace--xl" style="background: #E27D61; color: #fff">
          <p class="CDB-Text CDB-Size-large is-semibold">A</p>
        </div>
        <div class="CDB-ListLayer-Inner">
          <div class="CDB-ListLayer-Title u-bSpace">
            <h2 class="CDB-ListLayer-TitleText CDB-Text CDB-Size-large u-ellipsis">ATM Machines</h2>
            <ul class="CDB-HeaderInfo-Actions">
              <li class="CDB-HeaderInfo-ActionsItem CDB-Shape">
                <div class="CDB-ArrowToogle is-blue is-small"></div>
              </li>
              <li class="CDB-HeaderInfo-ActionsItem CDB-Shape">
                <button class="CDB-Shape-threePoints is-blue is-small">
                  <div class="CDB-Shape-threePointsItem"></div>
                  <div class="CDB-Shape-threePointsItem"></div>
                  <div class="CDB-Shape-threePointsItem"></div>
                </button>
              </li>
            </ul>
          </div>
          <button class="CDB-Text CDB-Size-medium u-actionTextColor ">
            ADD ANALYSIS
          </button>
        </div>
      </div>
      <ul class="CDB-ListAnalysis">
        <li class="CDB-ListAnalysis-item is-analysis">
          <ul class="CDB-ListAnalysis-inner">
            <li class="CDB-ListAnalysis-innerItem CDB-ListAnalysis-layer">
              <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small" style="background: #E27D61; color: #fff">
                B4
              </div>
              <p class="CDB-ListAnalysis-title CDB-Text CDB-Size-small u-secondaryTextColor u-ellipsis">Intersection</p>
            </li>
            <li class="CDB-ListAnalysis-innerItem CDB-ListAnalysis-layer">
              <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small" style="background: #F2CD8F; color: #fff">
                A
              </div>
              <p class="CDB-ListAnalysis-title CDB-Text CDB-Size-small u-secondaryTextColor u-ellipsis">Bus stops</p>
            </li>
        </li>
        <li class="CDB-ListAnalysis-item CDB-ListAnalysis-layer">
          <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small" style="background: #E27D61; color: #fff">
            B2
          </div>
          <p class="CDB-ListAnalysis-title CDB-Text CDB-Size-small u-secondaryTextColor u-ellipsis">Estimated Population</p>
        </li>
        <li class="CDB-ListAnalysis-item CDB-ListAnalysis-layer">
          <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small" style="background: #E27D61; color: #fff">
            B1
          </div>
          <p class="CDB-ListAnalysis-title CDB-Text CDB-Size-small u-secondaryTextColor u-ellipsis">Trade Area 15’ (walk)</p>
          <div class="CDB-ListAnalysis-error"></div>
        </li>
        <li class="CDB-ListAnalysis-item CDB-ListAnalysis-layer is-base">
          <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small u-altTextColor">
            B0
          </div>
          <p class="CDB-Text CDB-Size-small u-secondaryTextColor">atm_machines</p>
        </li>
      </ul>
    </li>
    <li class="CDB-ListLayer-item">
      <div class="CDB-ListLayer-itemHeader">
        <div class="CDB-ListLayer-media u-rSpace--xl is-hide" style="background: #E27D61; color: #fff">
          <p class="CDB-Text CDB-Size-large is-semibold">A</p>
        </div>
        <div class="CDB-ListLayer-Inner">
          <div class="CDB-ListLayer-Title u-bSpace">
            <h2 class="CDB-ListLayer-TitleText CDB-Text CDB-Size-large u-ellipsis">Bus stops</h2>
            <ul class="CDB-HeaderInfo-Actions">
              <li class="CDB-HeaderInfo-ActionsItem CDB-Shape">
                <div class="CDB-ArrowToogle is-blue is-small"></div>
              </li>
              <li class="CDB-HeaderInfo-ActionsItem CDB-Shape">
                <button class="CDB-Shape-threePoints is-blue is-small">
                  <div class="CDB-Shape-threePointsItem"></div>
                  <div class="CDB-Shape-threePointsItem"></div>
                  <div class="CDB-Shape-threePointsItem"></div>
                </button>
              </li>
            </ul>
          </div>
          <button class="CDB-Text CDB-Size-medium u-actionTextColor ">
            ADD ANALYSIS
          </button>
        </div>
      </div>
      <ul class="CDB-ListAnalysis">
        <li class="CDB-ListAnalysis-item CDB-ListAnalysis-layer is-base">
          <div class="CDB-ListAnalysis-itemInfo u-rSpace--m CDB-Text is-semibold CDB-Size-small u-altTextColor">
            A0
          </div>
          <p class="CDB-Text CDB-Size-small u-secondaryTextColor">atm_machines</p>
        </li>
      </ul>
    </li>
    <li class="CDB-ListLayer-item">
      <div class="CDB-ListLayer-itemHeader">
        <div class="CDB-ListLayer-media CDB-ListLayer-media--basemap u-rSpace--xl">
          <img src="/src/img/basemap/positron.png" alt="Title Basemap">
        </div>
        <div class="CDB-ListLayer-Inner">
          <div class="CDB-ListLayer-Title u-bSpace">
            <h2 class="CDB-ListLayer-TitleText CDB-Text CDB-Size-large u-ellipsis">Positron by CartoDB</h2>
            <ul class="CDB-HeaderInfo-Actions">
              <li class="CDB-HeaderInfo-ActionsItem CDB-Shape">
                <div class="CDB-ArrowToogle is-blue is-small"></div>
              </li>
              <li class="CDB-HeaderInfo-ActionsItem CDB-Shape">
                <button class="CDB-Shape-threePoints is-blue is-small">
                  <div class="CDB-Shape-threePointsItem"></div>
                  <div class="CDB-Shape-threePointsItem"></div>
                  <div class="CDB-Shape-threePointsItem"></div>
                </button>
              </li>
            </ul>
          </div>
          <p class="CDB-Text CDB-Size-medium u-altTextColor">
            Basemap
          </p>
        </div>
      </div>
    </li>
  </ul>
```
*/

.CDB-ListLayer-item {
  width: auto;
  margin-bottom: $baseSize;
  padding: $baseSize * 2;
  border: 1px solid $cSecondaryLine;
  border-radius: $halfBaseSize;

  &:last-child {
    margin-bottom: 0;
  }
}

.CDB-ListLayer-media {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  width: 40px;
  height: 40px;
  border-radius: $baseSize / 2;
}
.CDB-ListLayer-media--basemap {
  border: 1px solid $cMainLine;
}

.CDB-ListLayer-media.is-hide {
  opacity: 0.24;
}

.CDB-ListLayer-Title {
  @include display-flex();
  @include align-items(center);
}

.CDB-ListLayer-TitleText {
  @include flex(1);
  width: 0;
  padding-right: $baseSize * 2;
}

.CDB-ListAnalysis {
  position: relative;
  margin-top: 16px;
}

.CDB-ListAnalysis::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 1px;
  background: $cMainLine;
  content: '';
  z-index: -1;
}

.CDB-ListAnalysis-item {
  @include display-flex();
  @include align-items(center);
  margin-right: 48px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &.is-analysis {
    display: block;
    margin-right: 0;
  }
}

.CDB-ListAnalysis-inner {
  @include display-flex();
  margin: 0 -4px;
}

.CDB-ListAnalysis-innerItem {
  @include display-flex();
  @include flex(1);
  @include align-items(center);
  margin: 0 $halfBaseSize;
  background: $cWhite;
  box-sizing: border-box;
}

.CDB-ListAnalysis-layer {
  padding-right: 12px;
  border: 1px solid $cSecondaryLine;
  border-radius: $halfBaseSize;

  &.is-base {
    background: $cThirdBackground;
  }
}

.CDB-ListAnalysis-itemInfo {
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  width: 40px;
  min-width: 40px;
  height: 32px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  border-top-left-radius: $halfBaseSize;
  border-bottom-left-radius: $halfBaseSize;
}

.CDB-ListAnalysis-title {
  width: 100%;
  padding-right: 12px;
}

.CDB-ListAnalysis-error {
  width: 6px;
  min-width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $cError;
}

.CDB-ListLayer-itemHeader {
  @include display-flex();
  @include flex(1);
  @include align-items(center);
}

.CDB-ListLayer-Inner {
  @include flex(1);
}
