// Modals styles
// ----------------------------------------------

/* SG
# Modals/Mod Error Creating Table


```
  <div class="u-flex">
      <div class="Modal-icon">
        <svg width="24px" height="24px" viewBox="521 436 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Smiley-red" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(521.000000, 436.000000)">
                <path d="M12,13.797 C9.069,13.797 6.478,15.286 5.07,17.781 C4.934,18.022 5.019,18.327 5.26,18.463 C5.338,18.507 5.422,18.527 5.505,18.527 C5.679,18.527 5.849,18.435 5.941,18.273 C7.169,16.096 9.434,14.796 12,14.796 C14.658,14.796 16.943,16.087 18.114,18.249 C18.245,18.492 18.55,18.582 18.792,18.45 C19.035,18.319 19.125,18.015 18.993,17.772 C17.645,15.283 15.031,13.797 12,13.797 L12,13.797 Z" id="Shape" fill="#F15743"></path>
                <path d="M7.25,10.5 C8.353,10.5 9.25,9.603 9.25,8.5 C9.25,7.397 8.353,6.5 7.25,6.5 C6.147,6.5 5.25,7.397 5.25,8.5 C5.25,9.603 6.147,10.5 7.25,10.5 L7.25,10.5 Z M7.25,7.5 C7.801,7.5 8.25,7.948 8.25,8.5 C8.25,9.052 7.801,9.5 7.25,9.5 C6.699,9.5 6.25,9.052 6.25,8.5 C6.25,7.948 6.699,7.5 7.25,7.5 L7.25,7.5 Z" id="Shape" fill="#F15743"></path>
                <path d="M16.25,10.5 C17.353,10.5 18.25,9.603 18.25,8.5 C18.25,7.397 17.353,6.5 16.25,6.5 C15.147,6.5 14.25,7.397 14.25,8.5 C14.25,9.603 15.147,10.5 16.25,10.5 L16.25,10.5 Z M16.25,7.5 C16.801,7.5 17.25,7.948 17.25,8.5 C17.25,9.052 16.801,9.5 16.25,9.5 C15.699,9.5 15.25,9.052 15.25,8.5 C15.25,7.948 15.699,7.5 16.25,7.5 L16.25,7.5 Z" id="Shape" fill="#F15743"></path>
                <path d="M12,0 C5.383,0 0,5.383 0,12 C0,18.617 5.383,24 12,24 C18.617,24 24,18.617 24,12 C24,5.383 18.617,0 12,0 L12,0 Z M12,23 C5.935,23 1,18.065 1,12 C1,5.935 5.935,1 12,1 C18.065,1 23,5.935 23,12 C23,18.065 18.065,23 12,23 L12,23 Z" id="Shape" fill="#F15743"></path>
            </g>
        </svg>
      </div>
      <div>
        <h2 class=" CDB-Text CDB-Size-huge is-light u-errorTextColor u-bSpace--m">We couldn’t fetch your data</h2>
        <p class="CDB-Text CDB-Size-medium u-altTextColor">Don’t panic, follow these steps</p>
        <ul class="Modal-listActions u-flex u-alignCenter">
          <li class="Modal-listActionsitem">
            <button class="CDB-Button CDB-Button--primary CDB-Button--big">
              <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium">GO BACK</span>
            </button>
          </li>
        </ul>
      </div>
  </div>
```
*/

@import '../cdb-variables/sizes';
@import '../cdb-variables/colors';
@import '../cdb-utilities/mixins';


.Modal-listActions {
  margin-top: $baseSize * 4;
}

.Modal-listActionsitem,
.Modal-icon {
  margin-right: $baseSize * 2;
}

.Modal-listActionsitem:last-child {
  margin-right: 0;
}

.Modal-icon {
  margin-top: 6px;
  line-height: 34px; /* align-items: baseline doesnt work correctly in ff */
}


/* SG
# Modals/Loading


```
  <div class="u-flex">
      <div class="Modal-icon">
        <div class="CDB-LoaderIcon CDB-LoaderIcon--medium is-dark">
          <svg class="CDB-LoaderIcon-spinner" viewBox="0 0 50 50">
            <circle class="CDB-LoaderIcon-path" cx="25" cy="25" r="20" fill="none"></circle>
          </svg>
        </div>
      </div>
      <div>
        <h2 class=" CDB-Text CDB-Size-huge is-light u-bSpace--m">Export untitled map</h2>
        <p class="CDB-Text CDB-Size-medium u-altTextColor">This map, and the connect data, will be exported as a .carto file</p>
        <ul class="Modal-listActions u-flex u-alignCenter">
          <li class="Modal-listActionsitem">
            <button class="CDB-Button CDB-Button--secondary CDB-Button--big">
              <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Cancel</span>
            </button>
          </li>
          <li class="Modal-listActionsitem">
            <button class="CDB-Button CDB-Button--primary CDB-Button--big is-disabled">
              <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Download</span>
            </button>
          </li>
        </ul>
      </div>
  </div>
```
*/


/* SG
# Modals/Success


```
  <div class="u-flex">
      <div class="Modal-icon">
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Check-Circle---Flattened-" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M12,24 C18.627417,24 24,18.627417 24,12 C24,5.372583 18.627417,0 12,0 C5.372583,0 0,5.372583 0,12 C0,18.627417 5.372583,24 12,24 L12,24 L12,24 L12,24 L12,24 L12,24 L12,24 L12,24 L12,24 Z" id="Path" fill="#9DE0AD"></path>
            <polyline id="Shape" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="17.25 8.25 10.2341129 15.75 6.75 12.0542755"></polyline>
          </g>
        </svg>
      </div>
      <div>
        <h2 class=" CDB-Text CDB-Size-huge is-light u-bSpace--m">Export untitled map</h2>
        <p class="CDB-Text CDB-Size-medium u-altTextColor">This map, and the connect data, will be exported as a .carto file</p>
        <ul class="Modal-listActions u-flex u-alignCenter">
          <li class="Modal-listActionsitem">
            <button class="CDB-Button CDB-Button--secondary CDB-Button--big">
              <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Cancel</span>
            </button>
          </li>
          <li class="Modal-listActionsitem">
            <button class="CDB-Button CDB-Button--primary CDB-Button--big">
              <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Download</span>
            </button>
          </li>
        </ul>
      </div>
  </div>
```
*/


/* SG
# Modals/Delete Layer Warn


```
  <div class="u-flex">
      <div class="Modal-icon">
        <svg width="24px" height="25px" viewBox="521 436 24 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M524.5,440 L540.5,440 L540.5,460 L524.5,460 L524.5,440 Z M528.5,437 L536.5,437 L536.5,440 L528.5,440 L528.5,437 Z M522,440 L544,440 L522,440 Z M528.5,443.5 L528.5,455.5 L528.5,443.5 Z M532.5,443.5 L532.5,455.5 L532.5,443.5 Z M536.5,443.5 L536.5,455.5 L536.5,443.5 Z" id="Shape" stroke="#F19243" stroke-width="1" fill="none"></path>
        </svg>
      </div>
      <div>
        <h2 class=" CDB-Text CDB-Size-huge is-light u-bSpace--m u-alertTextColor">You are about to delete layer gpc_000a11a_eng</h2>
        <p class="CDB-Text CDB-Size-medium u-altTextColor">{{name}} map will be affected and the widgets related to the layer, are you sure you want to delete it?</p>
        <ul class="Modal-listText">
          <li class="Modal-listTextItem">
            <p class="CDB-Text CDB-Size-medium">Deleting this layer will affect to <span class="CDB-Text is-semibold">4 Widgets, 3 Analysis</span> and <span class="CDB-Text is-semibold">2 Layers</span></p>
          </li>
          <li class="Modal-listTextItem">
            <p class="CDB-Text CDB-Size-medium">Before deleting your map, you can <a href="#">export as .CARTO file</a></p>
          </li>
        </ul>
        <ul class="Modal-listActions u-flex u-alignCenter">
          <li class="Modal-listActionsitem">
            <button class="CDB-Button CDB-Button--secondary CDB-Button--big">
              <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Cancel</span>
            </button>
          </li>
          <li class="Modal-listActionsitem">
            <button class="CDB-Button CDB-Button--primary CDB-Button--big">
              <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Ok, Delete It</span>
            </button>
          </li>
        </ul>
      </div>
  </div>
```
*/

.Modal-listTextItem {
  margin-top: 32px;
}



/* SG
# Modals/Loading


```
  <div class="u-flex">
      <div class="Modal-icon">
        <div class="CDB-LoaderIcon CDB-LoaderIcon--medium is-dark">
          <svg class="CDB-LoaderIcon-spinner" viewBox="0 0 50 50">
            <circle class="CDB-LoaderIcon-path" cx="25" cy="25" r="20" fill="none"></circle>
          </svg>
        </div>
      </div>
      <div>
        <h2 class=" CDB-Text CDB-Size-huge is-light u-bSpace--m">Locking Dataset</h2>
        <p class="CDB-Text CDB-Size-medium u-altTextColor">Your dataset is being locked, this may take a few seconds.</p>
      </div>
  </div>
```
*/


/* SG
# Modals/Marker


```
  <div class="u-flex">
      <div class="Modal-icon">
        <svg width="13px" height="20px" viewBox="526 438 13 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Location-pin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(526.000000, 438.000000)">
            <path d="M6.5,0 C2.9160625,0 0,2.99083333 0,6.66666667 C0,10.2041667 5.9093125,19.4225 6.1611875,19.8125 C6.2359375,19.93 6.3635,20 6.5,20 C6.6365,20 6.7640625,19.93 6.8388125,19.8125 C7.0906875,19.4225 13,10.2041667 13,6.66666667 C13,2.99083333 10.0839375,0 6.5,0 L6.5,0 Z M6.5,18.8166667 C5.227625,16.7766667 0.8125,9.49666667 0.8125,6.66666667 C0.8125,3.45 3.36375,0.833333333 6.5,0.833333333 C9.63625,0.833333333 12.1875,3.45 12.1875,6.66666667 C12.1875,9.49583333 7.772375,16.7766667 6.5,18.8166667 L6.5,18.8166667 Z" id="Shape" fill="#000000"></path>
            <path d="M6.5,3.75 C4.931875,3.75 3.65625,5.05833333 3.65625,6.66666667 C3.65625,8.275 4.931875,9.58333333 6.5,9.58333333 C8.068125,9.58333333 9.34375,8.275 9.34375,6.66666667 C9.34375,5.05833333 8.068125,3.75 6.5,3.75 L6.5,3.75 Z M6.5,8.75 C5.380375,8.75 4.46875,7.815 4.46875,6.66666667 C4.46875,5.51833333 5.380375,4.58333333 6.5,4.58333333 C7.619625,4.58333333 8.53125,5.51833333 8.53125,6.66666667 C8.53125,7.815 7.619625,8.75 6.5,8.75 L6.5,8.75 Z" id="Shape" fill="#000000"></path>
          </g>
        </svg>
      </div>
      <div>
        <h2 class=" CDB-Text CDB-Size-huge is-light u-bSpace--m">Select a marker image</h2>
        <p class="CDB-Text CDB-Size-medium u-altTextColor">Upload your icons or just use our nice selection.</p>
      </div>
  </div>
```
*/

