// Step styles
// ----------------------------------------------

/* SG
# Step

```
<ul class="CDB-Steps">
  <li class="CDB-Step-item">
    <div class="CDB-Step-header">
      <div class="CDB-Step-headerNumeration CDB-Text is-semibold u-rSpace--m">1</div>

      <div class="CDB-Step-headerInfo CDB-Text">
        <p class="CDB-Step-headerTitle CDB-Text CDB-Size-large u-bSpace--m">Aggregation</p>
        <p class="CDB-Size-small u-uppercase u-color-cTypo3">Heatmap</p>
      </div>
    </div>
  </li>
  <li class="CDB-Step-item">
    <div class="CDB-Step-header">
      <div class="CDB-Step-headerNumeration CDB-Text is-semibold u-rSpace--m">2</div>

      <div class="CDB-Step-headerInfo CDB-Text">
        <p class="CDB-Step-headerTitle CDB-Text CDB-Size-large u-bSpace--m">Select style</p>
        <p class="CDB-Size-small u-uppercase u-color-cTypo3">None</p>
      </div>
    </div>
  </li>
  <li class="CDB-Step-item">
    <div class="CDB-Step-header">
      <div class="CDB-Step-headerNumeration CDB-Text is-semibold u-rSpace--m">3</div>

      <div class="CDB-Step-headerInfo CDB-Text">
        <p class="CDB-Step-headerTitle CDB-Text CDB-Size-large u-bSpace--m">Type</p>
        <p class="CDB-Size-small u-uppercase u-color-cTypo3">Histogram</p>
        <p class="CDB-Size-medium u-color-cTypo3">Distribution of a numeric variable in a range</p>
      </div>
    </div>
  </li>
</ul>
```
*/

@import '../cdb-utilities/mixins';
@import '../cdb-variables/sizes';
@import '../cdb-variables/colors';

.CDB-Step-item {
  margin-bottom: 40px;
  width: 300px;
}

.CDB-Step-header {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(flex-start, flex-start);
}

.CDB-Step-headerNumeration {
  width: $baseSize * 3;
  height: $baseSize * 3;
  margin-right: 1px;
  border: 1px solid $cMainLine;
  border-radius: 4px;
  background-color: $cWhite;
  color: $cTypo3;
  font-size: $sFontSize-small;
  line-height: $baseSize * 3;
  text-align: center;
}

.CDB-Step-headerInfo {
  color: $cMainDark;
}
