// Typography styles
// ----------------------------------------------

/* SG
# Tags / Privacy

```
<button class="CDB-Tag is-public CDB-Text is-semibold CDB-Size-small u-iBlock">
  PUBLIC
</button>
<button class="CDB-Tag is-link CDB-Text is-semibold CDB-Size-small u-iBlock">
  LINK
</button>
<button class="CDB-Tag is-password CDB-Text is-semibold CDB-Size-small u-iBlock">
  PASSWORD
</button>
<button class="CDB-Tag is-private CDB-Text is-semibold CDB-Size-small u-iBlock">
  PRIVATE
</button>
```
*/

@import '../cdb-utilities/mixins';
@import '../cdb-variables/sizes';
@import '../cdb-variables/colors';


.CDB-Tag {
  padding: 0 3px;
  border-radius: 2px;

  &.is-public {
    border: 1px solid $cPublic;
    color: $cPublic;
  }
  &.is-link {
    border: 1px solid $cLink;
    color: $cLink;
  }
  &.is-password {
    border: 1px solid $cPassword;
    color: $cPassword;
  }
  &.is-private {
    border: 1px solid $cError;
    color: $cError;
  }
}

/* SG
# Tags / Metadata

```
<ul class="CDB-ListMetadata CDB-Text CDB-Size-medium u-secondaryTextColor">
  <li class="CDB-ListMetadata-item">
    <button class="CDB-Metadata">
      trees
      <div class="CDB-Shape u-lSpace">
        <div class="CDB-Shape-close is-blue is-large"></div>
      </div>
    </button>
  </li>
  <li class="CDB-ListMetadata-item">
    <button class="CDB-Metadata">
      table_merge
      <div class="CDB-Shape u-lSpace">
        <div class="CDB-Shape-close is-blue is-large"></div>
      </div>
    </button>
  </li>
  <li class="CDB-ListMetadata-item">
    <button class="CDB-Metadata">
      word
      <div class="CDB-Shape u-lSpace">
        <div class="CDB-Shape-close is-blue is-large"></div>
      </div>
    </button>
  </li>
</ul>

```
*/

.CDB-ListMetadata {
  @include display-flex();
}

.CDB-ListMetadata-item {
  margin-right: $baseSize;
}

.CDB-Metadata {
  @include display-flex();
  padding: $baseSize / 2 $baseSize / 2  $baseSize / 2 $baseSize;
  border-radius: $baseSize / 2;
  background: rgba($cBlue, 0.16);
}

/* SG
# Tags / Data Type

```
<ul class="CDB-ListDataType">
  <li class="CDB-ListDataType-item">
    <button class="CDB-DataType CDB-Text CDB-Size-small u-altTextColor">
      Number
    </button>
  </li>
  <li class="CDB-ListDataType-item">
    <button class="CDB-DataType CDB-Text CDB-Size-small u-altTextColor">
      Text
    </button>
  </li>
  <li class="CDB-ListDataType-item">
    <button class="CDB-DataType CDB-Text CDB-Size-small u-altTextColor">
      String
    </button>
  </li>
</ul>

```
*/

.CDB-ListDataType {
  @include display-flex();
}

.CDB-ListDataType-item {
  margin-right: $baseSize;
}

.CDB-DataType {
  padding: $baseSize / 4 $baseSize / 2;
  border-radius: $baseSize / 4;
  background: $cThirdBackground;
  text-transform: uppercase;
}

