:root {
  --color-blue: #1785FB;
  --color-blue-hover: color(var(--color-blue) l(-10%) s(-10%));
  --color-softgray: #F9F9F9;

  --color-highlight: #9DE0AD;
  --color-alert: #FFFFC0;
  --color-public: #9BC63B;
  --color-share: #FEB100;
  --color-password: #FB7B23;
  --color-error: #F15743;

  --color-text-primary: #2E3C43;
  --color-text-secondary: #747D82;
  --color-text-alt: #BABEC0;
  --color-text-alt-hover: color(var(--color-text-alt) l(-10%) s(-10%));

  --color-bg-primary: #FFF;
  --color-bg-secondary: #F2F6F9;

  --color-line: #DDD;
  --color-line-hover: color(var(--color-line) l(-10%) s(-10%));
}
