:root {
  --layout-desktop: 352px;
  --layout-mobile: 280px;

  --unit: 8px;

  --margin-section: 24px;
  --margin-element: 14px;

  --font-size-small: 10px;
  --font-size-medium: 12px;
  --font-size-large: 16px;
  --font-size-huge: 26px;

  --font-weight-lighter: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;

  --line-height-small: 14px;
  --line-height-medium: 16px;
  --line-height-large: 22px;
  --line-height-huge: 34px;
}
