// Default classes
// ----------------------------------------------

@import '../cdb-variables/colors';

body {
  color: $cMainText;
}

a {
  color: $cBlue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

