// Helper classes
// ----------------------------------------------

@import './mixins';

.u-tSpace {
  margin-top: 4px;
}
.u-tSpace-xl {
  margin-top: 12px;
}
.u-rSpace--s {
  margin-right: 2px;
}
.u-rSpace {
  margin-right: 4px;
}
.u-rSpace--m {
  margin-right: 8px;
}
.u-rSpace--xl {
  margin-right: 12px;
}
.u-bSpace-xxxl {
  margin-bottom: 40px;
}
.u-lSpace {
  margin-left: 4px;
}
.u-lSpace--xl {
  margin-left: 12px;
}
.u-iBlock {
  @include inline-block();
}
.u-showDesktop {
  display: block !important;
}
.u-showMobile {
  display: none !important;
}
.u-uppercase {
  text-transform: uppercase;
}

@include media-query-mobile() {
  .u-showDesktop {
    display: none !important;
  }
  .u-showMobile {
    display: block !important;
  }
}
