.CDB-Shape-Arrow {
  position: relative;
  width: 1px;
  height: 8px;
  background: var(--color-black);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 5px;
    height: 1px;
    transform: rotate(45deg);
    background: var(--color-black);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: -4px;
    width: 5px;
    height: 1px;
    transform: rotate(-45deg);
    background: var(--color-black);
  }

  &.is-up {
    top: 6px;
    right: 9px;
    transform: rotate(45deg);
  }

  &.is-down {
    top: 13px;
    left: 46px;
    transform: rotate(-135deg);
  }
}

.CDB-Shape-Arrow.is-blue {
  background: var(--color-blue);

  &::before {
    background: var(--color-blue);
  }

  &::after {
    background: var(--color-blue);
  }
}

.CDB-Shape-Arrow.is-white {
  background: white;

  &::before {
    background: white;
  }

  &::after {
    background: white;
  }
}
