.CDB-Shape-CircleItem {
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-black);
  border-radius: 50%;

  &.is-small {
    width: 12px;
    height: 12px;
    transform: translateY(2px);
  }

  &.is-blue {
    border: 1px solid var(--color-blue);
  }

  &.is-white {
    border: 1px solid white;
  }
}

.CDB-Shape-tick {
  display: block;
  position: relative;
  height: 100%;

  &::before {
    display: block;
    position: absolute;
    width: 1px;
    transform: rotate(-45deg);
    background: var(--color-black);
    content: '';
  }

  &::after {
    display: block;
    position: absolute;
    width: 1px;
    transform: rotate(45deg);
    background: var(--color-black);
    content: '';
  }

  &.is-medium {
    &::before {
      top: 5px;
      left: 4px;
      height: 4px;
    }

    &::after {
      top: 3px;
      right: 5px;
      height: 6px;
    }
  }

  &.is-small {
    &::before {
      top: 4px;
      left: 2px;
      height: 3px;
    }

    &::after {
      top: 2px;
      right: 3px;
      height: 5px;
    }
  }
}

.CDB-Shape-tick.is-blue {
  &::before {
    background: var(--color-blue);
  }

  &::after {
    background: var(--color-blue);
  }
}

.CDB-Shape-tick.is-white {
  &::before {
    background: white;
  }

  &::after {
    background: white;
  }
}

.CDB-Shape-tick.is-green {
  &::before {
    background: var(--color-highlight);
  }
  &::after {
    background: var(--color-highlight);
  }
}
