.CDB-Shape-close {
  display: block;
  position: relative;
  height: 100%;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    transform: rotate(-45deg);
    background: var(--color-black);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    transform: rotate(45deg);
    background: var(--color-black);
  }

  &.is-huge {
    &::before {
      top: -2px;
      left: 7px;
      height: 20px;
    }

    &::after {
      top: -2px;
      right: 8px;
      height: 20px;
    }
  }

  &.is-large {
    &::before {
      top: 2px;
      left: 7px;
      height: 12px;
    }

    &::after {
      top: 2px;
      right: 8px;
      height: 12px;
    }
  }

  &.is-medium {
    &::before {
      top: 3px;
      left: 6px;
      height: 7px;
    }

    &::after {
      top: 3px;
      right: 6px;
      height: 7px;
    }
  }

  &.is-small {
    &::before {
      top: 2px;
      left: 4px;
      height: 5px;
    }

    &::after {
      top: 2px;
      right: 4px;
      height: 5px;
    }
  }
}

.CDB-Shape-close.is-blue {
  &::before {
    background: var(--color-blue);
  }

  &::after {
    background: var(--color-blue);
  }
}

.CDB-Shape-close.is-white {
  &::before {
    background: white;
  }

  &::after {
    background: white;
  }
}

.CDB-Shape-close.is-red {
  &::before {
    background: var(--color-error);
  }

  &::after {
    background: var(--color-error);
  }
}
