.CDB-Shape-threePoints {
  display: inline-block;
  padding: 0 4px;
}

.CDB-Shape-threePoints.is-horizontal {
  padding: 4px 0;
  transform: rotate(90deg);
}

.CDB-Shape-threePointsItem {
  width: 2px;
  height: 2px;
  margin-bottom: 5px;
  background: var(--color-black);
}

.CDB-Shape-threePointsItem.is-round {
  border-radius: 50%;
}

.CDB-Shape-threePointsItem:last-child {
  margin-bottom: 0;
}

.CDB-Shape-threePoints.is-small {
  padding-top: 2px;
}

.CDB-Shape-threePoints.is-small .CDB-Shape-threePointsItem {
  width: 2px;
  height: 2px;
  margin-bottom: 3px;
}

.CDB-Shape-threePoints.is-medium {
  padding-top: 2px;
}

.CDB-Shape-threePoints.is-medium .CDB-Shape-threePointsItem {
  width: 4px;
  height: 4px;
  margin-bottom: 3px;
}

.CDB-Shape-threePoints.is-blue .CDB-Shape-threePointsItem {
  background: var(--color-blue);
}

.CDB-Shape-threePoints.is-white .CDB-Shape-threePointsItem {
  background: white;
}
