.CDB-AvatarList {
  padding-left: 12px;
}

.CDB-AvatarList-item {
  display: inline-block;
  margin-left: -12px;
  border: 2px solid white;
  border-radius: 50%;
  vertical-align: middle;
}

.CDB-AvatarList-itemMore {
  display: inline-block;
  margin-left: -12px;
  padding: 2px 6px;
  border-left: 2px solid white;
  border-radius: 50px;
  background: var(--color-line-secondary);
}

.CDB-AvatarList-itemMedia {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
