.CDB-Box-modal {
  min-width: 160px;
  border: 1px solid var(--color-line);
  border-radius: 4px;
  background: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}

.CDB-Box-modalHeader {
  background: var(--color-bg-secondary);
}

.CDB-Box-modalHeaderItem {
  display: flex;
  padding: 12px 16px;
  border-bottom: 1px solid var(--color-line);
}

.CDB-Box-modalHeaderItem--block {
  display: block;
}

.CDB-Box-modalHeaderItem--paddingHorizontal {
  padding: 0 16px;
}

.CDB-Box-modalHeaderItem--paddingVertical {
  padding: 12px 0;
}
