.CDB-Loader {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 50%;
  height: 3px;
  transform: translateX(-200%);
  background-image: linear-gradient(90deg, rgba(var(--color-blue), 1) 0%, #32BBFE 90%, #FAFEFF 95%);
}

.CDB-Loader.is-visible {
  animation: loader-progress 1s cubic-bezier(0, 0.85, 0.6, 0.6) infinite;
}

@keyframes loader-progress {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(200%);
  }
}

.CDB-LoaderIcon {
  width: 16px;
  height: 16px;
}

.CDB-LoaderIcon-spinner {
  width: 16px;
  height: 16px;
  animation: rotate 2s linear infinite;
}

.CDB-LoaderIcon--small,
.CDB-LoaderIcon--small .CDB-LoaderIcon-spinner {
  width: 14px;
  height: 14px;
}

.CDB-LoaderIcon--big,
.CDB-LoaderIcon--big .CDB-LoaderIcon-spinner {
  width: 40px;
  height: 40px;
}

.CDB-LoaderIcon-path {
  animation: dash 1.5s ease-in-out infinite;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke: rgba(255, 255, 255, 0.88);
}

.CDB-LoaderIcon--big .CDB-LoaderIcon-path {
  stroke-width: 2px;
}

.CDB-LoaderIcon.is-dark .CDB-LoaderIcon-path {
  stroke: rgba(0, 0, 0, 0.24);
}

.CDB-LoaderIcon.is-blue .CDB-LoaderIcon-path {
  stroke: var(--color-blue);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
