/* SG
# Shapes/Move

Description

```
<h2>16px</h2>
<div style="padding: 20px;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .02);">
    <div class="CDB-Shape-move">
      <div class="CDB-Shape-moveItem is-first"></div>
      <div class="CDB-Shape-moveItem is-second"></div>
      <div class="CDB-Shape-moveItem is-third"></div>
    </div>
  </div>
</div>
<div style="padding: 20px;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .02);">
    <div class="CDB-Shape-move">
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--blue is-first"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--blue is-second"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--blue is-third"></div>
    </div>
  </div>
</div>
<div style="padding: 20px;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .02);">
    <div class="CDB-Shape-move">
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--grey is-first"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--grey is-second"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--grey is-third"></div>
    </div>
  </div>
</div>
<div style="padding: 20px; background: #2E3C43;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .08);">
    <div class="CDB-Shape-move">
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--white is-first"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--white is-second"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--white is-third"></div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<h2>12px</h2>
<div style="padding: 20px;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .02);">
    <div class="CDB-Shape-move is-small">
      <div class="CDB-Shape-moveItem is-first"></div>
      <div class="CDB-Shape-moveItem is-second"></div>
      <div class="CDB-Shape-moveItem is-third"></div>
    </div>
  </div>
</div>
<div style="padding: 20px;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .02);">
    <div class="CDB-Shape-move is-small">
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--blue is-first"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--blue is-second"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--blue is-third"></div>
    </div>
  </div>
</div>
<div style="padding: 20px;">
  <div class="CDB-Shape">
    <div class="CDB-Shape-move is-small">
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--grey is-first"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--grey is-second"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--grey is-third"></div>
    </div>
  </div>
</div>
<div style="padding: 20px; background: #2E3C43;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .08);">
    <div class="CDB-Shape-move is-small">
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--white is-first"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--white is-second"></div>
      <div class="CDB-Shape-moveItem CDB-Shape-MoveItem--white is-third"></div>
    </div>
  </div>
</div>
```
*/

@import '../../cdb-variables/colors';

.CDB-Shape-move {
  padding: 1px 0 0;
}

.CDB-Shape-move.is-small {
  padding: 3px 0 0 1px;

  .CDB-Shape-moveItem {
    height: 2px;
    margin-bottom: 2px;

    &::before {
      width: 2px;
      height: 2px;
    }
    &::after {
      width: 2px;
      height: 2px;
      margin-left: 1px;
    }
  }
}

.CDB-Shape-moveItem {
  height: 3px;
  margin-bottom: 3px;

  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    display: inline-block;
    width: 3px;
    height: 3px;
    background: $cMainBg;
    content: '';
  }

  &::after {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-left: 2px;
    background: $cMainBg;
    content: '';
  }
}

.CDB-Shape-moveItem--blue {
  &::before,
  &::after {
    background: $cBlue;
  }
}

.CDB-Shape-moveItem--white {
  &::before,
  &::after {
    background: $cWhite;
  }
}

.CDB-Shape-moveItem--grey {
  &::before,
  &::after {
    background: $cHoverLine;
  }
}
