/* SG
# Shapes/Three Points

Description

```
<h2>16px</h2>
<div style="padding: 20px;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .02);">
    <button class="CDB-Shape-threePoints js-actions">
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
    </button>
  </div>
</div>
<div style="padding: 20px;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .02);">
    <button class="CDB-Shape-threePoints is-blue js-actions">
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
    </button>
  </div>
</div>
<div style="padding: 20px; background: #2E3C43;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .08);">
    <button class="CDB-Shape-threePoints is-white js-actions">
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
    </button>
  </div>
</div>
<br>
<br>
<br>
<br>
<h2>12px</h2>
<div style="padding: 20px;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .02);">
    <button class="CDB-Shape-threePoints is-small js-actions">
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
    </button>
  </div>
</div>
<div style="padding: 20px;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .02);">
    <button class="CDB-Shape-threePoints is-blue is-small js-actions">
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
    </button>
  </div>
</div>
<div style="padding: 20px; background: #2E3C43;">
  <div class="CDB-Shape" style="background: rgba(0, 0, 0, .08);">
    <button class="CDB-Shape-threePoints is-white is-small js-actions">
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
      <div class="CDB-Shape-threePointsItem"></div>
    </button>
  </div>
</div>
```
*/

@import '../../cdb-variables/colors';

.CDB-Shape-threePoints {
  display: inline-block;
  padding-left: 6px;
}

.CDB-Shape-threePointsItem {
  width: 2px;
  height: 2px;
  margin-bottom: 5px;
  background: $cMainDark;
  &:last-child {
    margin-bottom: 0;
  }
}

.CDB-Shape-threePoints.is-small {
  padding-top: 2px;

  .CDB-Shape-threePointsItem {
    width: 2px;
    height: 2px;
    margin-bottom: 3px;
  }
}

.CDB-Shape-threePoints.is-blue {
  .CDB-Shape-threePointsItem {
    background: $cBlue;
  }
}

.CDB-Shape-threePoints.is-white {
  .CDB-Shape-threePointsItem {
    background: $cWhite;
  }
}
