@font-face {
  font-family: 'CartoIcon';
  src: url('fonts/cartoIcon.eot');
  src: url('fonts/cartoIcon.eot?#iefix') format('embedded-opentype'),
  url('fonts/cartoIcon.woff') format('woff'),
  url('fonts/cartoIcon.ttf') format('truetype'),
  url('fonts/cartoIcon.svg?ey3vsq#cartoIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.IconFont {
  display: inline-block;
  font-family: 'CartoIcon';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

/* SG
# Icon font/Clock
```
<i class="IconFont IconFont-Clock IconFont--size24"></i>
```
*/

.IconFont-Clock::before {
  content: '\E001';
}

/* SG
# Icon font/Stats
```
<i class="IconFont IconFont-Stats IconFont--size24"></i>
```
*/

.IconFont-Stats::before {
  content: '\E002';
}

/* SG
# Icon font/Heart--empty
```
<i class="IconFont IconFont-Heart--empty IconFont--size24"></i>
```
*/

.IconFont-Heart--empty::before {
  content: '\E003';
}

/* SG
# Icon font/Heart--fill
```
<i class="IconFont IconFont-Heart--fill IconFont--size24"></i>
```
*/

.IconFont-Heart--fill::before {
  content: '\E004';
}

/* SG
# Icon font/Alert
```
<i class="IconFont IconFont-Alert IconFont--size24"></i>
```
*/

.IconFont-Alert::before {
  content: '\E005';
}

/* SG
# Icon font/Rows
```
<i class="IconFont IconFont-Rows IconFont--size24"></i>
```
*/

.IconFont-Rows::before {
  content: '\E006';
}

/* SG
# Icon font/Check
```
<i class="IconFont IconFont-Check IconFont--size24"></i>
```
*/

.IconFont-Check::before {
  content: '\E007';
}

/* SG
# Icon font/Dribbble
```
<i class="IconFont IconFont-Dribbble IconFont--size24"></i>
```
*/

.IconFont-Dribbble::before {
  content: '\E008';
}

/* SG
# Icon font/Twitter
```
<i class="IconFont IconFont-Twitter IconFont--size24"></i>
```
*/

.IconFont-Twitter::before {
  content: '\E009';
}

/* SG
# Icon font/Wizard
```
<i class="IconFont IconFont-Wizard IconFont--size24"></i>
```
*/

.IconFont-Wizard::before {
  content: '\E00A';
}

/* SG
# Icon font/Info
```
<i class="IconFont IconFont-Info IconFont--size24"></i>
```
*/

.IconFont-Info::before {
  content: '\E00B';
}

/* SG
# Icon font/Fork
```
<i class="IconFont IconFont-Fork IconFont--size24"></i>
```
*/

.IconFont-Fork::before {
  content: '\E00C';
}

/* SG
# Icon font/Facebook
```
<i class="IconFont IconFont-Facebook IconFont--size24"></i>
```
*/

.IconFont-Facebook::before {
  content: '\E00D';
}

/* SG
# Icon font/Folder
```
<i class="IconFont IconFont-Folder IconFont--size24"></i>
```
*/

.IconFont-Folder::before {
  content: '\E00E';
}

/* SG
# Icon font/Dropbox
```
<i class="IconFont IconFont-Dropbox IconFont--size24"></i>
```
*/

.IconFont-Dropbox::before {
  content: '\E00F';
}

/* SG
# Icon font/Cloud
```
<i class="IconFont IconFont-Cloud IconFont--size24"></i>
```
*/

.IconFont-Cloud::before {
  content: '\E010';
}

/* SG
# Icon font/Step
```
<i class="IconFont IconFont-Step IconFont--size24"></i>
```
*/

.IconFont-Step::before {
  content: '\E011';
}

/* SG
# Icon font/AddDocument
```
<i class="IconFont IconFont-AddDocument IconFont--size24"></i>
```
*/

.IconFont-AddDocument::before {
  content: '\E012';
}

/* SG
# Icon font/ArrowNext
```
<i class="IconFont IconFont-ArrowNext IconFont--size24"></i>
```
*/

.IconFont-ArrowNext::before {
  content: '\E013';
}

/* SG
# Icon font/ArrowPrev
```
<i class="IconFont IconFont-ArrowPrev IconFont--size24"></i>
```
*/

.IconFont-ArrowPrev::before {
  content: '\E014';
}

/* SG
# Icon font/Close
```
<i class="IconFont IconFont-Close IconFont--size24"></i>
```
*/

.IconFont-Close::before {
  content: '\E015';
}

/* SG
# Icon font/CartoFante
```
<i class="IconFont IconFont-CartoFante IconFont--size24"></i>
```
*/

.IconFont-CartoFante::before {
  content: '\E016';
}

/* SG
# Icon font/Lock
```
<i class="IconFont IconFont-Lock IconFont--size24"></i>
```
*/

.IconFont-Lock::before {
  content: '\E017';
}

/* SG
# Icon font/CartoDB
```
<i class="IconFont IconFont-CartoDB IconFont--size24"></i>
```
*/

.IconFont-CartoDB::before {
  content: '\E018';
}

/* SG
# Icon font/Lens
```
<i class="IconFont IconFont-Lens IconFont--size24"></i>
```
*/

.IconFont-Lens::before {
  content: '\E019';
}

/* SG
# Icon font/CloseLimits
```
<i class="IconFont IconFont-CloseLimits IconFont--size24"></i>
```
*/

.IconFont-CloseLimits::before {
  content: '\E01A';
}

/* SG
# Icon font/DefaultUser
```
<i class="IconFont IconFont-DefaultUser IconFont--size24"></i>
```
*/

.IconFont-DefaultUser::before {
  content: '\E01B';
}

/* SG
# Icon font/Cockroach
```
<i class="IconFont IconFont-Cockroach IconFont--size24"></i>
```
*/

.IconFont-Cockroach::before {
  content: '\E01C';
}

/* SG
# Icon font/Floppy
```
<i class="IconFont IconFont-Floppy IconFont--size24"></i>
```
*/

.IconFont-Floppy::before {
  content: '\E01D';
}

/* SG
# Icon font/Trash
```
<i class="IconFont IconFont-Trash IconFont--size24"></i>
```
*/

.IconFont-Trash::before {
  content: '\E01E';
}

/* SG
# Icon font/Wifi
```
<i class="IconFont IconFont-Wifi IconFont--size24"></i>
```
*/

.IconFont-Wifi::before {
  content: '\E01F';
}

/* SG
# Icon font/Unlock
```
<i class="IconFont IconFont-Unlock IconFont--size24"></i>
```
*/

.IconFont-Unlock::before {
  content: '\E020';
}

/* SG
# Icon font/Unlock--withEllipsis
```
<i class="IconFont IconFont-Unlock--withEllipsis IconFont--size24"></i>
```
*/

.IconFont-Unlock--withEllipsis::before {
  content: '\E021';
}

/* SG
# Icon font/Gift
```
<i class="IconFont IconFont-Gift IconFont--size24"></i>
```
*/

.IconFont-Gift::before {
  content: '\E022';
}

/* SG
# Icon font/People
```
<i class="IconFont IconFont-People IconFont--size24"></i>
```
*/

.IconFont-People::before {
  content: '\E023';
}

/* SG
# Icon font/Play
```
<i class="IconFont IconFont-Play IconFont--size24"></i>
```
*/

.IconFont-Play::before {
  content: '\E024';
}

/* SG
# Icon font/Add
```
<i class="IconFont IconFont-Add IconFont--size24"></i>
```
*/

.IconFont-Add::before {
  content: '\E025';
}

/* SG
# Icon font/Map
```
<i class="IconFont IconFont-Map IconFont--size24"></i>
```
*/

.IconFont-Map::before {
  content: '\E026';
}

/* SG
# Icon font/Anchor
```
<i class="IconFont IconFont-Anchor IconFont--size24"></i>
```
*/

.IconFont-Anchor::before {
  content: '\E027';
}

/* SG
# Icon font/Key
```
<i class="IconFont IconFont-Key IconFont--size24"></i>
```
*/

.IconFont-Key::before {
  content: '\E028';
}

/* SG
# Icon font/Calendar
```
<i class="IconFont IconFont-Calendar IconFont--size24"></i>
```
*/

.IconFont-Calendar::before {
  content: '\E029';
}

/* SG
# Icon font/Document
```
<i class="IconFont IconFont-Document IconFont--size24"></i>
```
*/

.IconFont-Document::before {
  content: '\E02A';
}

/* SG
# Icon font/Eye
```
<i class="IconFont IconFont-Eye IconFont--size24"></i>
```
*/

.IconFont-Eye::before {
  content: '\E02B';
}

/* SG
# Icon font/Marker
```
<i class="IconFont IconFont-Marker IconFont--size24"></i>
```
*/

.IconFont-Marker::before {
  content: '\E02C';
}

/* SG
# Icon font/ProgressBar
```
<i class="IconFont IconFont-ProgressBar IconFont--size24"></i>
```
*/

.IconFont-ProgressBar::before {
  content: '\E02D';
}

/* SG
# Icon font/Book
```
<i class="IconFont IconFont-Book IconFont--size24"></i>
```
*/

.IconFont-Book::before {
  content: '\E02E';
}

/* SG
# Icon font/Notes
```
<i class="IconFont IconFont-Notes IconFont--size24"></i>
```
*/

.IconFont-Notes::before {
  content: '\E02F';
}

/* SG
# Icon font/Rectangles
```
<i class="IconFont IconFont-Rectangles IconFont--size24"></i>
```
*/

.IconFont-Rectangles::before {
  content: '\E030';
}

/* SG
# Icon font/Mountain
```
<i class="IconFont IconFont-Mountain IconFont--size24"></i>
```
*/

.IconFont-Mountain::before {
  content: '\E031';
}

/* SG
# Icon font/Points
```
<i class="IconFont IconFont-Points IconFont--size24"></i>
```
*/

.IconFont-Points::before {
  content: '\E032';
}

/* SG
# Icon font/Snake
```
<i class="IconFont IconFont-Snake IconFont--size24"></i>
```
*/

.IconFont-Snake::before {
  content: '\E033';
}

/* SG
# Icon font/Boss
```
<i class="IconFont IconFont-Boss IconFont--size24"></i>
```
*/

.IconFont-Boss::before {
  content: '\E034';
}

/* SG
# Icon font/Rocket
```
<i class="IconFont IconFont-Rocket IconFont--size24"></i>
```
*/

.IconFont-Rocket::before {
  content: '\E035';
}

/* SG
# Icon font/Barometer
```
<i class="IconFont IconFont-Barometer IconFont--size24"></i>
```
*/

.IconFont-Barometer::before {
  content: '\E036';
}

/* SG
# Icon font/Dollar
```
<i class="IconFont IconFont-Dollar IconFont--size24"></i>
```
*/

.IconFont-Dollar::before {
  content: '\E037';
}

/* SG
# Icon font/Email
```
<i class="IconFont IconFont-Email IconFont--size24"></i>
```
*/

.IconFont-Email::before {
  content: '\E038';
}

/* SG
# Icon font/Label
```
<i class="IconFont IconFont-Label IconFont--size24"></i>
```
*/

.IconFont-Label::before {
  content: '\E039';
}

/* SG
# Icon font/Outside
```
<i class="IconFont IconFont-Outside IconFont--size24"></i>
```
*/

.IconFont-Outside::before {
  content: '\E03A';
}

/* SG
# Icon font/Jigsaw
```
<i class="IconFont IconFont-Jigsaw IconFont--size24"></i>
```
*/

.IconFont-Jigsaw::before {
  content: '\E03B';
}

/* SG
# Icon font/Tools
```
<i class="IconFont IconFont-Tools IconFont--size24"></i>
```
*/

.IconFont-Tools::before {
  content: '\E03C';
}

/* SG
# Icon font/Question
```
<i class="IconFont IconFont-Question IconFont--size24"></i>
```
*/

.IconFont-Question::before {
  content: '\E03D';
}

/* SG
# Icon font/LayerStack
```
<i class="IconFont IconFont-LayerStack IconFont--size24"></i>
```
*/

.IconFont-LayerStack::before {
  content: '\E03E';
}

/* SG
# Icon font/Alarm
```
<i class="IconFont IconFont-Alarm IconFont--size24"></i>
```
*/

.IconFont-Alarm::before {
  content: '\E03F';
}

/* SG
# Icon font/CloudDownArrow
```
<i class="IconFont IconFont-CloudDownArrow IconFont--size24"></i>
```
*/

.IconFont-CloudDownArrow::before {
  content: '\E040';
}

/* SG
# Icon font/Pencil
```
<i class="IconFont IconFont-Pencil IconFont--size24"></i>
```
*/

.IconFont-Pencil::before {
  content: '\E041';
}

/* SG
# Icon font/FountainPen
```
<i class="IconFont IconFont-FountainPen IconFont--size24"></i>
```
*/

.IconFont-FountainPen::before {
  content: '\E042';
}

/* SG
# Icon font/EmptyDoc
```
<i class="IconFont IconFont-EmptyDoc IconFont--size24"></i>
```
*/

.IconFont-EmptyDoc::before {
  content: '\E043';
}

/* SG
# Icon font/MergeArrow
```
<i class="IconFont IconFont-MergeArrow IconFont--size24"></i>
```
*/

.IconFont-MergeArrow::before {
  content: '\E044';
}

/* SG
# Icon font/MergeColumns
```
<i class="IconFont IconFont-MergeColumns IconFont--size24"></i>
```
*/

.IconFont-MergeColumns::before {
  content: '\E045';
}

/* SG
# Icon font/MergeSpatial
```
<i class="IconFont IconFont-MergeSpatial IconFont--size24"></i>
```
*/

.IconFont-MergeSpatial::before {
  content: '\E046';
}

/* SG
# Icon font/Globe
```
<i class="IconFont IconFont-Globe IconFont--size24"></i>
```
*/

.IconFont-Globe::before {
  content: '\E047';
}

/* SG
# Icon font/ChevronDown
```
<i class="IconFont IconFont-ChevronDown IconFont--size24"></i>
```
*/

.IconFont-ChevronDown::before {
  content: '\E048';
}

/* SG
# Icon font/Streets
```
<i class="IconFont IconFont-Streets IconFont--size24"></i>
```
*/

.IconFont-Streets::before {
  content: '\E049';
}

/* SG
# Icon font/Keys
```
<i class="IconFont IconFont-Keys IconFont--size24"></i>
```
*/

.IconFont-Keys::before {
  content: '\E04A';
}

/* SG
# Icon font/FacebookSquare
```
<i class="IconFont IconFont-FacebookSquare IconFont--size24"></i>
```
*/

.IconFont-FacebookSquare::before {
  content: '\E04B';
}

/* SG
# Icon font/Fullscreen
```
<i class="IconFont IconFont-Fullscreen IconFont--size24"></i>
```
*/

.IconFont-Fullscreen::before {
  content: '\E04C';
}

/* SG
# Icon font/Rarrow
```
<i class="IconFont IconFont-Rarrow IconFont--size24"></i>
```
*/

.IconFont-Rarrow::before {
  content: '\E04D';
}

/* SG
# Icon font/Share
```
<i class="IconFont IconFont-Share IconFont--size24"></i>
```
*/

.IconFont-Share::before {
  content: '\E04E';
}

/* SG
# Icon font/Linkedin
```
<i class="IconFont IconFont-Linkedin IconFont--size24"></i>
```
*/

.IconFont-Linkedin::before {
  content: '\E04F';
}

/* SG
# Icon font/CalendarBlank
```
<i class="IconFont IconFont-CalendarBlank IconFont--size24"></i>
```
*/

.IconFont-CalendarBlank::before {
  content: '\E050';
}

/* SG
# Icon font/CreativeCommons
```
<i class="IconFont IconFont-CreativeCommons IconFont--size24"></i>
```
*/

.IconFont-CreativeCommons::before {
  content: '\E051';
}

/* SG
# Icon font/Bubble
```
<i class="IconFont IconFont-Bubble IconFont--size24"></i>
```
*/

.IconFont-Bubble::before {
  content: '\E052';
}

/* SG
# Icon font/Bars
```
<i class="IconFont IconFont-Bars IconFont--size24"></i>
```
*/

.IconFont-Bars::before {
  content: '\E053';
}

/* SG
# Icon font/ArrowMenu
```
<i class="IconFont IconFont-ArrowMenu IconFont--size24"></i>
```
*/

.IconFont-ArrowMenu::before {
  content: '\E054';
}

/* SG
# Icon font/TieFighter
```
<i class="IconFont IconFont-TieFighter IconFont--size24"></i>
```
*/

.IconFont-TieFighter::before {
  content: '\E055';
}

/* SG
# Icon font/Ray
```
<i class="IconFont IconFont-Ray IconFont--size24"></i>
```
*/

.IconFont-Ray::before {
  content: '\E056';
}

/* SG
# Icon font/Markup
```
<i class="IconFont IconFont-Markup IconFont--size24"></i>
```
*/

.IconFont-Markup::before {
  content: '\E057';
}

/* SG
# Icon font/Table
```
<i class="IconFont IconFont-Table IconFont--size24"></i>
```
*/

.IconFont-Table::before {
  content: '\E058';
}

/* SG
# Icon font/Airlock
```
<i class="IconFont IconFont-Airlock IconFont--size24"></i>
```
*/

.IconFont-Airlock::before {
  content: '\E059';
}

/* SG
# Icon font/Pin
```
<i class="IconFont IconFont-Pin IconFont--size24"></i>
```
*/

.IconFont-Pin::before {
  content: '\E05A';
}

/* SG
# Icon font/Attache
```
<i class="IconFont IconFont-Attache IconFont--size24"></i>
```
*/

.IconFont-Attache::before {
  content: '\E05B';
}

/* SG
# Icon font/Download
```
<i class="IconFont IconFont-Download IconFont--size24"></i>
```
*/

.IconFont-Download::before {
  content: '\E05C';
}

