.CDB-Checkbox {
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  opacity: 0;
  vertical-align: middle;
}

.CDB-Checkbox-face {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-line);
  border-radius: 3px;
  background: white;
  cursor: pointer;
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    width: 2px;
    border-radius: 1px;
    background: white;
  }

  &::before {
    right: 4px;
    height: 8px;
    transform: rotate(45deg);
  }

  &::after {
    left: 4px;
    height: 6px;
    transform: rotate(-45deg);
  }
}

.CDB-Checkbox:checked + .CDB-Checkbox-face {
  transition: background 300ms;
  border: 1px solid var(--color-blue);
  background: var(--color-blue);

  &::before,
  &::after {
    background: white;
  }
}

.CDB-Checkbox:checked:hover + .CDB-Checkbox-face {
  border: 1px solid var(--color-blue);

  &::before,
  &::after {
    background: white;
  }
}

.CDB-Checkbox:hover + .CDB-Checkbox-face {
  border: 1px solid var(--color-blue-hover);

  &::before,
  &::after {
    background: var(--color-line-hover);
  }
}

.CDB-Checkbox:active + .CDB-Checkbox-face {
  border: 1px solid var(--color-blue);

  &::before,
  &::after {
    background: var(--color-blue);
  }
}

.CDB-Checkbox:disabled + .CDB-Checkbox-face {
  border: 1px solid var(--color-line-hover);
  background: var(--color-softgray);

  &::before,
  &::after {
    opacity: 0;
  }
}
