.CDB-InputText {
  width: 100%;
  min-height: 32px;
  padding: 7px 8px;
  border: 1px solid var(--color-line);
  border-radius: 4px;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  box-sizing: border-box;

  &.is-cursor {
    cursor: pointer;
  }

  &.is-empty {
    color: var(--color-text-alt);
  }

  &.is-number {
    color: var(--color-highlight);
  }

  &.is-null {
    color: var(--color-text-alt);
    font-style: italic;
  }

  &:hover {
    border: 1px solid var(--color-blue-hover);
  }

  &:focus {
    border: 1px solid var(--color-black);
    outline: none;
  }

  &:disabled,
  &.is-disabled {
    border-color: var(--color-line-secondary);
    background: var(--color-softgray);
    cursor: default;
  }

  &.has-icon {
    padding-right: 32px;
  }

  &.has-error {
    border: 1px solid color(var(--color-error) alpha(0.48));
    background: color(var(--color-error) alpha(0.04));
    color: var(--color-error);
  }
}

.CDB-InputTextPlain {
  width: 100%;
  border: 0;
  background: transparent;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  box-sizing: border-box;
}

.CDB-FieldError .CDB-InputText {
  border: 1px solid color(var(--color-error) alpha(0.48));
  background: color(var(--color-error) alpha(0.04));
  color: var(--color-error);
}
