.CDB-OptionInput {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-radius: 16px;
  vertical-align: middle;
}

.CDB-OptionInput-container {
  display: flex;
  align-content: center;
  align-items: center;
}

.CDB-OptionInput-container--noMargin {
  margin: 0;
}

.CDB-OptionInput-item {
  display: flex;
  position: relative;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-medium);

  &.is-active,
  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:first-child {
    width: auto;
    margin-right: 8px;
  }

  &:last-child {
    width: 100%;
  }
}

.CDB-OptionInput-container--border .CDB-OptionInput-item {
  border: 1px solid var(--color-line);

  &:hover {
    border: 1px solid var(--color-blue-hover);
  }

  &.is-active,
  &:focus {
    border: 1px solid var(--color-black);
  }

  &:first-child {
    margin-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    &:hover {
      + .CDB-OptionInput-item::after {
        content: none;
      }
    }
  }

  &:last-child {
    border-radius: 4px;
  }

  + .CDB-OptionInput-item {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.is-active::after,
    &:focus::after,
    &:hover::after {
      position: absolute;
      left: -1px;
      width: 1px;
      height: calc(100% + 2px);
      content: '';
    }

    &:hover::after {
      background-color: var(--color-blue-hover);
    }

    &.is-active::after,
    &:focus::after {
      background-color: var(--color-black);
    }
  }
}

.CDB-OptionInput-content {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 8px;
  color: var(--color-black);
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}
