.CDB-Radio {
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  opacity: 0;
  vertical-align: middle;
}

.CDB-Radio-face {
  position: relative;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-line);
  border-radius: 50%;
  background: white;
  text-indent: 20px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;
    border-radius: 50%;
    background: white;
  }
}

.CDB-Radio:checked + .CDB-Radio-face {
  transition: background 300ms;
  border: 1px solid var(--color-blue);
  background: var(--color-blue);

  &::before {
    background: white;
  }
}

.CDB-Radio:disabled + .CDB-Radio-face {
  border: 1px solid var(--color-line-hover);
  background: var(--color-softgray);

  &::before {
    opacity: 0;
  }
}

.CDB-Radio:active + .CDB-Radio-face {
  &::before {
    background: var(--color-blue);
  }
}

.CDB-Radio:hover + .CDB-Radio-face {
  border: 1px solid var(--color-blue-hover);

  &::before {
    background: var(--color-line-hover);
  }
}

.CDB-Radio:focus + .CDB-Radio-face,
.CDB-Radio:checked:hover + .CDB-Radio-face {
  border: 1px solid var(--color-blue);
}

.CDB-Radio:disabled:hover + .CDB-Radio-face {
  border: 1px solid var(--color-line-hover);
}

.CDB-Radio:checked:hover + .CDB-Radio-face {
  &::before {
    background: white;
  }
}
