.CDB-Toggle {
  position: absolute;
  z-index: 1;
  width: 32px;
  height: 16px;
  opacity: 0;

  &:hover {
    + .CDB-ToggleFace {
      background: var(--color-text-alt-hover);
    }

    &:checked + .CDB-ToggleFace {
      background: var(--color-highlight);
    }
  }

  + .CDB-ToggleFace {
    position: relative;
    width: 32px;
    height: 16px;
    margin: 0 2px;
    transition: background 300ms;
    border-radius: 50px;
    background: var(--color-text-alt);

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.48);
    }
  }

  &:checked + .CDB-ToggleFace {
    background: var(--color-highlight);

    &::before {
      right: 2px;
      left: auto;
    }
  }
}

.Toggle .is-disabled {
  opacity: 0.24;
  pointer-events: none;
}
